<div class="wrapper">

  <div *ngIf="list.length === 0" class="center">
    <h1>No Data</h1>
    <img src="/assets/draws/no-data.svg" height="200">
    <p>Add an entry to start your journey !</p>
  </div>

  <div class="add-entry center">
    <a mat-flat-button routerLink="/mood/overview" color="primary">
      <mat-icon>add</mat-icon>
      <mat-label>Add entry</mat-label>
    </a>
  </div>

  <div *ngIf="list.length">
    <mat-card class="shadow">
      <h1>Mood load</h1>
      <app-mood-load [overviews]="list"></app-mood-load>
    </mat-card>

    <mat-card class="shadow">
      <h1>Feelings</h1>
      <app-mood-chart [overviews]="list"></app-mood-chart>
    </mat-card>

    <mat-card class="shadow">
      <h1>Events</h1>
      <app-event-heat-map [overviews]="list"></app-event-heat-map>
    </mat-card>

    <app-mood-short-history></app-mood-short-history>
  </div>

</div>
