<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Historic
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngIf="overviews && overviews.length">

      <div *ngFor="let overview of list; let i = index">
        <app-overview-display [overview]="overview"></app-overview-display>
        <hr>
      </div>

      <div class="center">
        <button mat-button class="full" routerLink="/mood/history">See all</button>
      </div>

      <hr class="first">

      <mat-paginator
        [length]="overviews.length"
        [pageSize]="pageSize"
        (page)="updateList($event)">
      </mat-paginator>

    </div>

  </mat-expansion-panel>
</mat-accordion>
