hr {
  border: 1px solid #eee;
  margin: 10px 0;
}

.add-entry {
  margin: 20px 0;
  a {
    width: 100%;
  }
}

mat-card {
  margin-bottom: 10px;
}

.wrapper {
  margin-bottom: 56px + 72px;
}

.add-wrapper {
  z-index: 10;

  position: fixed;
  bottom: 10px;
  right: 10px;
}
