<div class="container">
  <mat-card>

    <mat-vertical-stepper>

      <mat-step>
        <ng-template matStepLabel>Mood</ng-template>
        <div class="block moods">
          <app-mood-selector [overview]="overview"></app-mood-selector>
        </div>
        <div class="actions">
          <button mat-button matStepperNext color="primary">Next</button>
        </div>
      </mat-step>

      <mat-step optional>
        <ng-template matStepLabel>feelings</ng-template>
        <div class="block feelings">
          <app-feeling-selector [overview]="overview"></app-feeling-selector>
        </div>
        <div class="actions">
          <button mat-button matStepperNext color="primary">Next</button>
        </div>
      </mat-step>

      <mat-step optional>
        <ng-template matStepLabel>thoughts</ng-template>
        <div class="block thoughts">
          <app-thought-note [overview]="overview"></app-thought-note>
        </div>
        <div class="actions">
          <button mat-raised-button color="primary" routerLink="/" (click)="submitOverview()">Save</button>
        </div>
      </mat-step>

    </mat-vertical-stepper>


  </mat-card>
</div>
