<div class="wrapper">
  <mat-card class="shadow">
    <h1>Global Setting</h1>

    <div class="center">
      <img src="/assets/draws/settings.png" height="200">
    </div>

    <mat-form-field>
      <mat-label>Language</mat-label>
      <mat-select [(ngModel)]="currentLocale" (selectionChange)="onLocaleSelection()">
        <mat-option value="fr" >Français</mat-option>
        <mat-option value="en">English</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <div class="center ">

  </div>

  <mat-card class="shadow sensible">
    <h1>Secure Area</h1>

    <div class="center">
      <img src="/assets/draws/alert.svg" height="200">
    </div>

    <div class="center">
      <button mat-flat-button color="warn" (click)="openDialog()">Remove all data</button>
    </div>
  </mat-card>
</div>
