.active {
  user-select: none;
  color:#fff;

  &.brown {
    background: #bb8b46;
  }

  &.green {
    background: #4fbc78;
  }

  &.blue {
    background: #39a8bc;
  }

  &.red {
    background: #ad4cbc;
  }
}

mat-chip-list {
  justify-content: space-evenly;
}
