<div class="wrapper">

  <br>
  <br>
  <br>

  <!-- first connection -->
  <mat-card *ngIf="!auth.hasPassword()">
    <form [formGroup]="registerForm" (ngSubmit)="encodePassword()">
      <div class="center">
        <img src="{{'/assets/draws/login.svg'|asset}}" height="150">
      </div>

      <p>Vous pouvez créer un mot de passe pour assurer la sécurité de votre application et l'encryption de vos données personnels</p>

      <mat-form-field class="full-width">
        <input
          placeholder="Password"
          matInput
          type="password"
          formControlName="password"
          autofocus
          required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          placeholder="Repeat Password"
          matInput
          type="password"
          formControlName="confirmPassword"
          required>
      </mat-form-field>

      <div class="center">
          <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">
            Create password
          </button>
      </div>

      <br>

      <p>
        Ou continuer sans créer de mot de passe et l'activer plus tard via les paramètres de l'application
      </p>

      <div class="center">
        <div class="center">
          <a mat-raised-button (click)="disablePassword()">
            Continue without password
          </a>
        </div>
      </div>
    </form>
  </mat-card>

  <!-- normal connection -->
  <mat-card *ngIf="auth.hasPassword()">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="center">
        <img src="{{'/assets/draws/login.svg'|asset}}" height="150">
      </div>

      <mat-form-field class="full-width">
        <input
          placeholder="Password"
          matInput
          type="password"
          formControlName="password"
          autofocus
          required>
      </mat-form-field>

      <div class="center">
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
          Login
        </button>
      </div>
    </form>
  </mat-card>

  <br>
  <br>
  <br>

  <div class="center">
    <small>chaosTech © 2019-2020</small>
  </div>
</div>

