<div class="event">
  <mat-selection-list [(ngModel)]="overview.events">

    <mat-list-option value="social">
      <p matLine>Socialization</p>
    </mat-list-option>

    <mat-list-option value="achievement">
      <p matLine>Achievement</p>
    </mat-list-option>

    <mat-list-option value="relax">
      <p matLine>Relaxation</p>
    </mat-list-option>

    <mat-list-option value="conflict">
      <p matLine>Conflict</p>
    </mat-list-option>

    <mat-list-option value="panic">
      <p matLine>Panic attack</p>
    </mat-list-option>

    <mat-list-option value="boredom">
      <p matLine>Boredom</p>
    </mat-list-option>

  </mat-selection-list>
</div>
