mat-sidenav-container, mat-sidenav-content {
  height: 100%;
}

mat-sidenav button {
  width: 80px;
  height: 80px;
}

button.active {
  background: #292929;
  color: #ddd;
  border-radius: 0;
}

mat-sidenav {
  width: 200px;

  button {
    width: 100%;
    padding: 0;

    &.active, &:active, &:focus {
      background: #fff;
      color: #607d8b;
      border-left: 5px solid #607d8b;
      text-decoration: underline;
    }

    mat-label {
      margin-left: 10px;
    }

    img {
      height: 70px;
    }
  }
}
