<mat-sidenav-container (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>

    <button mat-stroked-button (click)="close()" routerLink="/mood" routerLinkActive="active">
      <mat-icon>mood</mat-icon>
      <mat-label>Mood</mat-label>
    </button>

    <mat-divider></mat-divider>

    <button mat-stroked-button (click)="close()" routerLink="/settings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>settings</mat-icon>
      <mat-label>Settings</mat-label>
    </button>

  </mat-sidenav>

  <mat-sidenav-content>
    <app-navigation (opening)="sidenav.open()"></app-navigation>

    <button mat-flat-button color="warn" (click)="notifier.overviewNotif()">NOTIF</button>

    <div class="container fluid">
      <router-outlet></router-outlet>
      <app-install-pwa></app-install-pwa>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


