<mat-sidenav-container (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>

    <button mat-stroked-button (click)="close()" routerLink="/" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <mat-label>Home</mat-label>
    </button>

    <mat-divider></mat-divider>

    <button mat-stroked-button (click)="close()" routerLink="/overview" routerLinkActive="active">
      <mat-icon>mood</mat-icon>
      <mat-label>Mood</mat-label>
    </button>

    <mat-divider></mat-divider>

    <button mat-stroked-button (click)="close()" routerLink="/overview/history" routerLinkActive="active">
      <mat-icon>history</mat-icon>
      <mat-label>History</mat-label>
    </button>

    <mat-divider></mat-divider>

    <button mat-stroked-button (click)="close()">
      <mat-icon>settings</mat-icon>
      <mat-label>Settings</mat-label>
    </button>

  </mat-sidenav>

  <mat-sidenav-content>
    <app-navigation (opening)="sidenav.open()"></app-navigation>

    <div class="container fluid">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


