<div class="calendar-wrapper">

  <div class="header">
    <button mat-button (click)="previousMonth()"><</button>
    <span>{{selected|date: 'MMMM'}}<span class="month">
    </span>{{selected|date: 'yyyy'}}<span class="year"></span></span>
    <button mat-button (click)="nextMonth()">></button>
  </div>
  <div class="calender">
    <table>
      <thead>
      <tr class="weedays">
        <th data-weekday="sun">Sun</th>
        <th data-weekday="mon">Mon</th>
        <th data-weekday="tue">Tue</th>
        <th data-weekday="wed">Wed</th>
        <th data-weekday="thu">Thu</th>
        <th data-weekday="fri">Fri</th>
        <th data-weekday="sat">Sat</th>
      </tr>
      </thead>
      <tbody>
      <tr class="days" data-row="0">
        <td data-column="0"></td>
        <td data-column="1"></td>
        <td data-column="2"></td>
        <td data-column="3"></td>
        <td data-column="4"></td>
        <td data-column="5"></td>
        <td data-column="6"></td>
      </tr>
      <tr class="days" data-row="1">
        <td data-column="0"></td>
        <td data-column="1"></td>
        <td data-column="2"></td>
        <td data-column="3"></td>
        <td data-column="4"></td>
        <td data-column="5"></td>
        <td data-column="6"></td>
      </tr>
      <tr class="days" data-row="2">
        <td data-column="0"></td>
        <td data-column="1"></td>
        <td data-column="2"></td>
        <td data-column="3"></td>
        <td data-column="4"></td>
        <td data-column="5"></td>
        <td data-column="6"></td>
      </tr>
      <tr class="days" data-row="3">
        <td data-column="0"></td>
        <td data-column="1"></td>
        <td data-column="2"></td>
        <td data-column="3"></td>
        <td data-column="4"></td>
        <td data-column="5"></td>
        <td data-column="6"></td>
      </tr>
      <tr class="days" data-row="4">
        <td data-column="0"></td>
        <td data-column="1"></td>
        <td data-column="2"></td>
        <td data-column="3"></td>
        <td data-column="4"></td>
        <td data-column="5"></td>
        <td data-column="6"></td>
      </tr>
      <tr class="days" data-row="5">
        <td data-column="0"></td>
        <td data-column="1"></td>
        <td data-column="2"></td>
        <td data-column="3"></td>
        <td data-column="4"></td>
        <td data-column="5"></td>
        <td data-column="6"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="showDate">
    <button mat-button [disabled]="isInDefault()" (click)="reset()">Today</button>
  </div>

</div>
