<div class="wrapper" *ngIf="events">
  <div *ngFor="let appointment of today">
    <app-schedule-display [appointment]="appointment" [highlighted]="true"></app-schedule-display>
  </div>

  <mat-card class="shadow">
    <app-calendar [dates]="getEventDates()" (selection)="displayRecap($event)"></app-calendar>
  </mat-card>

  <div *ngFor="let appointment of comming">
    <app-schedule-display [appointment]="appointment"></app-schedule-display>
  </div>
</div>

<div class="add-wrapper">
  <button mat-fab color="primary" routerLink="/schedule/create">
    <mat-icon>add</mat-icon>
  </button>
</div>
