<div class="wrapper">
  <mat-card class="shadow">

    <mat-vertical-stepper [linear]="true">

      <mat-step [stepControl]="when">
        <form [formGroup]="when">
          <ng-template matStepLabel>When</ng-template>

          <mat-form-field>
            <input matInput [matDatepicker]="datePicker" placeholder="Choose date" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker touchUi="true"></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Choose time" formControlName="time">
            <button mat-button matSuffix mat-icon-button>
              <mat-icon>access_time</mat-icon>
            </button>
          </mat-form-field>

          <div class="actions">
            <button mat-button matStepperNext color="primary">{{'general.next'|trans|async}}</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="what">
        <form [formGroup]="what">
          <ng-template matStepLabel>What</ng-template>

          <mat-form-field class="full-width">
            <input placeholder="Title" matInput #title maxlength="255" formControlName="title">
            <mat-hint align="end">{{title.value.length}} / 256</mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input placeholder="Description" matInput #description maxlength="255"
                   formControlName="description">
            <mat-hint align="end">{{description.value.length}} / 256</mat-hint>
          </mat-form-field>

          <div class="actions">
            <button mat-button matStepperNext color="primary">{{'general.next'|trans|async}}</button>
          </div>
        </form>
      </mat-step>

      <mat-step optional [stepControl]="where">
        <form [formGroup]="where">
          <ng-template matStepLabel>Where</ng-template>

          <mat-form-field class="full-width">
            <input placeholder="City" matInput #city maxlength="255" formControlName="city">
            <mat-hint align="end">{{city.value.length}} / 256</mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input placeholder="Address" matInput #address maxlength="255" formControlName="street">
            <mat-hint align="end">{{address.value.length}} / 256</mat-hint>
          </mat-form-field>
        </form>

        <div class="actions">
          <button mat-flat-button color="primary" (click)="submit()">
            {{'general.save'|trans|async}}
          </button>
        </div>

      </mat-step>

    </mat-vertical-stepper>

  </mat-card>
</div>
