.install-pwa {
  position: fixed;
  bottom: 15px;
  left: 20px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.install-pwa.show
{
  opacity: 1;
  transition: all .2s ease-in-out;
}

.install-pwa button {
  background-color: #607d8b;
  color: #fff;
}

.update-banner {
  background: #333333;
  color: #fff;

  position: fixed;
  z-index: 30;
  bottom: 0;

  padding: 16px;

  width: calc(100% - 32px);
  height: 0;

  display: none;
  transition: height .2s ease-in-out;

  &.show {
    display: block;
    height: auto;

    transition: height .2s ease-in-out;
  }

  h1 {
    margin: 0;
  }

  .v-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
