<div class="wrapper">

  <app-under-construction></app-under-construction>

  <div class="center" *ngIf="list.length === 0">
    <h1>No Data</h1>

    <div class="center">
      <img src="{{'/assets/draws/no-data.svg'|asset}}" height="200">
    </div>

    <button mat-flat-button color="primary" routerLink="/meds/create">Create medications</button>
  </div>

  <div *ngIf="list.length">
    <mat-card class="shadow reminder">
      <mat-card-title>
        <p>
          <mat-icon>notification_important</mat-icon>
          <mat-label>20:30</mat-label>
        </p>
        <button mat-stroked-button [disabled]="true">Take</button>
      </mat-card-title>
      <mat-card-content>
        <div class="drug">
          <h1>Lamicatal 100mg</h1>
          <span>x 1</span>
        </div>
        <div class="drug">
          <h1>Levotirox 100mg</h1>
          <span>x 2</span>
        </div>
      </mat-card-content>
    </mat-card>

    <app-meds-list [meds]="list"></app-meds-list>
  </div>

</div>

<div class="add-wrapper">
  <button mat-fab color="primary" routerLink="/meds/create">
    <mat-icon>add</mat-icon>
  </button>
</div>
