@import '~@angular/material/theming';
@import "scss/breakpoint";
@import "scss/grid";
@import "scss/font";

// resetting everything
* *:before, *:after {
  margin: 0;
  padding: 0;
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define an alternate dark theme.
$psy-primary: mat-palette($mat-blue-grey);
$psy-accent: mat-palette($mat-grey, A200, A100, A400);
$psy-warn: mat-palette($mat-deep-orange);

$psy-theme: mat-light-theme($psy-primary, $psy-accent, $psy-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
@include angular-material-theme($psy-theme);

// Personal grid system


/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

body {
  background: #eee;
  font-family: $font-text;
}

mat-label {
  font-family: $font-text;
}

.mat-button-wrapper, .mat-option-text {
  font-family: $font-text;
}

h1, h2, h3, h4, h5, .title, mat-card-title {
  font-family: $font-title;
  font-weight: normal;
}

h1 {
  font-size: 20px;
}

div, p, a, .text {
  font-family: $font-text;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.wrapper {
  margin: 3%;
}

.mat-slider-track-background,
.mat-slider:hover .mat-slider-track-background {
  background: #eeeeee;
}

.mat-slider-thumb {
  background-color: #ffffff !important;
  border-color: rgba(0, 0, 0, 0.38) !important;
}

.mat-step-label {
  font-family: $font-title;
  font-size: 20px;
  text-transform: capitalize;
}

.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, .3) !important;
}

hr {
  border-color: 1px solid #eee;
}

.full {
  width: 100%;
}

.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate {
  background: #607d8b;
}

// TimePiker
.timepicker {
  --body-background-color: #fff;
  --primary-font-family: $font-text;
  --button-color: #607d8b;
  --dial-active-color: #fff;
  --dial-inactive-color: rgba(255, 255, 255, .5);
  --dial-background-color: #607d8b;
  --clock-face-time-active-color: #fff;
  --clock-face-time-inactive-color: #6c6c6c;
  --clock-face-inner-time-inactive-color: #929292;
  --clock-face-time-disabled-color: #c5c5c5;
  --clock-face-background-color: #f0f0f0;
  --clock-hand-color: #607d8b;

  .timepicker-dial__control:focus {
    outline: none;
  }
}

// material calendar

.mat-calendar-body-cell-content {
  border-radius: 0 !important;
}
